.logo {
      position: fixed;
      top: -13px;
      left: 20px;
      height: 14%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 100;
}

section {
		margin-top:30px;
}

.section h1{
		text-align:center;
		font-size:88px;
	}

div.izenburua {
 position: relative;
/* background-color:red;*/
 top: 50%;
 transform: translateY(-50%);
}

.zutabe1 {
	text-align:justify;
		font-size:24px;
		height:400px;
}

section .zutabe2 {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
column-gap: 30px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
column-fill: auto;
	text-align:justify;
	font-size:14px;
	height:650px;
	margin-top:20px;
}

section .zutabe2.has {
		height:580px;
		margin-top:-8px;
}

.zutabe2 p { margin-bottom: 1% !important; 
			 margin-top: 0% !important; 	}

.container { margin-bottom: 1% !important; 
			 margin-top: 0.25% !important; 	}
			 
section ol li, section ul li {
text-align:justify;
/*font-size:24px;*/
}

.zutabe2 ul {margin-bottom:2%;}

.zutabe2 pre {margin-bottom:-4%;}

figure {
	break-inside: avoid-column;
	text-align: center;
	                /*width:100%;*/
                display:block;
               margin:0%;
               margin-left:1%;
 }
 
figure svg{
                 display:block;
                  margin:auto;  
}

.atribuzioa2 {
		-ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
		-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
		font-size:50%;
}

figcaption {
	/*font-size:100%;*/
/*	margin-top:0%; */
	margin-bottom:4%;
}

figcaption:before {
	content: " " attr(data-count-figcaption)". Irudia: ";
	color: #42affa;
	/*font-weight: bold;*/
}

table {
margin-bottom:2%!Important;
}

caption {
	margin-top:2%;
	margin-bottom:0%;
}

caption:before {
	content: " " attr(data-count-caption)". Taula: ";
	color: #42affa;
	/*font-weight: bold;*/
}



.tika:before {
  content: '✓ ';
}

@keyframes nabarmendu {
			0% {
                
            }
  
            50% {
                /*font-weight: bold;*/
                color: #42affa;
            }
  
            100% {
                
            }
  
  /*from {color: white;}
  to {color: #3A86FF;}*/
}


html.print-pdf .reveal .slides section .edukia {margin-top:100px}

html.print-pdf .slide-menu-button,
html.print-pdf #toggle-chalkboard,
html.print-pdf #toggle-notes {
  display: none !important;
}


/*https://codeconvey.com/pure-css-image-slider-with-buttons/  MIT license*/


[id$="i1"], [id$="i2"], [id$="i3"], [id$="i4"], [id$="i5"], [id$="i6"], [id$="i7"], [id$="i8"], [id$="i9"] { display: none;}



.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		/*width: 70%;*/
		width: 90%;
		/*height: 0;*/
		height: 150px;
		/*padding-bottom: 38%;*/
		padding-bottom: 34%;
		/*background-color: #1c1c1c;*/
		border: solid 10px #616161;
		border-radius:10px ;
		-webkit-column-break-inside: avoid;
	}

	.container .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
		justify-content: center;
    align-items: center;
        display: flex;
	}
	.container .slide_img img{
		 flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
	}

	 .prev, .next{
		width: 10%;
		height: inherit;
		position: absolute;
		top:0; 
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		/*font-size: 100pt;*/
		/*font-size: 10pt;*/
		top: 50%;
	 	transform: translateY(-50%);
	}
	
	.zutabe1 .azalpena {
		width: 100%;
		position: absolute;
		bottom:-1.25%; 
		left:-50%;
		font-size: 7pt;
		color:white;
	}

	.zutabe1 .atribuzioa {
		width: 100%;
		position: absolute;
		bottom:2%; 
		right:-1.25%;
		font-size: 6pt;
		color:white;
		-ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
		-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
		/*font-size:50%;*/
	}
	
	.zutabe2 .azalpena {
		width: 100%;
		position: absolute;
		bottom:-1.65%; 
		left:-50%;
		font-size: 7pt;
		color:white;
	}
	
	.zutabe2 .atribuzioa {
		width: 100%;
		position: absolute;
		bottom:2%; 
		right:-2.25%;
		font-size: 6pt;
		color:white;
		-ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
		-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
		/*font-size:50%;*/
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

.container #nav_slide{
	width: 100%;
	/*bottom: 12%;*/
	bottom: 0%;
	/*height: 11px;*/
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

.zutabe1 #nav_slide .dots{
	/*top: -5px;*/
	top: 18px;
	/*width: 18px;*/
	width: 8px;
	/*height: 18px;*/
	height: 8px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

.zutabe2 #nav_slide .dots{
	/*top: -5px;*/
	top: 15px;
	/*width: 18px;*/
	width: 8px;
	/*height: 18px;*/
	height: 8px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	[id$="i1"]:checked ~ #one  ,
	[id$="i2"]:checked ~ #two  ,
	[id$="i3"]:checked ~ #three,
	[id$="i4"]:checked ~ #four ,
	[id$="i5"]:checked ~ #five ,
	[id$="i6"]:checked ~ #six ,
	[id$="i7"]:checked ~ #seven , 
	[id$="i8"]:checked ~ #eight ,
	[id$="i9"]:checked ~ #nine
	{z-index: 10; animation: scroll 1s ease-in-out;}

	[id$="i1"]:checked  ~  #nav_slide #dot1,
	[id$="i2"]:checked  ~  #nav_slide #dot2,
	[id$="i3"]:checked  ~  #nav_slide #dot3,
	[id$="i4"]:checked  ~  #nav_slide #dot4,
	[id$="i5"]:checked  ~  #nav_slide #dot5,
	[id$="i6"]:checked  ~  #nav_slide #dot6,
	[id$="i7"]:checked  ~  #nav_slide #dot7,
	[id$="i8"]:checked  ~  #nav_slide #dot8,
	[id$="i9"]:checked  ~  #nav_slide #dot9
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		
