<p class="slide-menu-item">Eskertzak: </p>
<span class="slide-menu-item"> <a href="https://revealjs.com/" target="_blank">Hakim El Hattab (Reveal.js)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/rajgoel/reveal.js-plugins" target="_blank">Asvin Goel (Chalkboard plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/denehyg/reveal.js-menu" target="_blank">Greg Denehy (Menu plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/e-gor/Reveal.js-TOC-Progress" target="_blank">Igor Leturia (TOC-Progress plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/e-gor/Reveal.js-Title-Footer" target="_blank">Igor Leturia (Title-Footer plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/jschildgen/reveal.js-poll-plugin" target="_blank">
Johannes Schildgen (Poll plugin)</a></span>
<span class="slide-menu-item"> <a href="https://gitlab.com/schaepermeier/reveal.js-quiz" target="_blank">Lennart Schäpermeier (Quiz plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/christer79/reveal_countdown" target="_blank"> christer79  (Countdown plugin)</a></span>
<span class="slide-menu-item"> <a href="https://github.com/Martinomagnifico/reveal.js-counteract" target="_blank">Martinomagnifico (Counteract plugin)</a></span>
<span class="slide-menu-item"> <a href="https://codeconvey.com/pure-css-image-slider-with-buttons/" target="_blank">Muhammad Asif (Pure CSS Image Slider with Control Buttons)</a></span>
