<ul class="slide-menu-items">

<span class="slide-menu-item"><a href="#/cover" style="text-decoration:none"><strong>Interactive Learning Material</strong></a> </span>

<span class="slide-menu-item"><a href="#/what" style="text-decoration:none"><strong>WHAT IS THIS?</strong></a> </span>

<span class="slide-menu-item"><a href="#/why" style="text-decoration:none"><strong>WHY I USE IT?</strong></a> </span>

<span class="slide-menu-item"><a href="#/step" style="text-decoration:none"><strong>STEP BY STEP:</strong></a> </span>
<li class="slide-menu-item"><a href="#/svg" style="text-decoration:none"> SVG</a></li>
<li class="slide-menu-item"><a href="#/three.js" style="text-decoration:none"> THREE.JS</a></li>
<li class="slide-menu-item"><a href="#/reveal.js" style="text-decoration:none"> REVEAL.JS</a></li>
<li class="slide-menu-item"><a href="#/plugins" style="text-decoration:none"> PLUGINS</a></li>

<span class="slide-menu-item"><a href="#/conclusions" style="text-decoration:none"><strong>CONCLUSIONS:</strong></a> </span>


</ul>
