/*************************************************
*                                                *
* CSS for the TOC-Progress plugin for Reveal.js  *
*                                                *
* Author: Igor Leturia                           *
*                                                *
* License: GPL v3                                *
* http://www.gnu.org/copyleft/gpl.html           *
*                                                *
*************************************************/

/* Style for the TOC-Progress footer */

#toc-progress-footer
{
	opacity: 1;
	transition: opacity 800ms ease-in-out;
	position: fixed;
	bottom: 3px;
	/*height: 9.5vh;*/ /* Apur bat txikitu dut, lar soberan gera ez dadin. Unitatea ere aldatu egin dut ipad eta ordenagailuan, bietan, ondo ikus dadin*/
	height: 8.5vh;
	z-index: 20;
	width: 100%;
	/*font-size: 1.55vh;*/ /* Letra apur bat handitu dut. Unitatea ere aldatu egin dut ipad eta ordenagailuan, bietan, ondo ikus dadin*/
	font-size: 2vh;
	text-align: center;
	white-space: nowrap;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
}

/* Bottom position for the TOC-Progress footer when progress bar is visible */

div.progress[style="display: block;"] ~ #toc-progress-footer
{
/*	bottom: 3px;*/ /*Goialdean jarri dudanez, hau aldatu dut*/
	top: 3px;
}

/* Bottom position for the TOC-Progress footer when progress bar is not visible */

#toc-progress-footer
{
/*	bottom: 0px;*/ /*Goialdean jarri dudanez, hau aldatu dut*/
	top: 0px;

}

/* Make TOC-Progress invisible if explicitly indicated */

.no-toc-progress #toc-progress-footer
{
	opacity: 0;
	transition: opacity 800ms ease-in-out;
}

/* Make TOC-Progress invisible in overview mode */

.overview #toc-progress-footer
{
	opacity: 0;
	transition: opacity 800ms ease-in-out;
}

/* Position and styles for the left part (main sections) of the TOC-Progress */

#toc-progress-footer-main
{
	width: 50%; /*50%etik 55%era pasa dut, bestela izenburu handiak moztu egiten ziren inprimatzerakoan*/
	height: 100%;
	float: left;
	overflow: hidden;
	letter-spacing: 0em;
	background-color:#00305450;
	direction:rtl;
}

#toc-progress-footer-main-inside
{
	float: right;
	/* Hau gehitu dut letra beltzez jartzean, zutabea mugitu ez dadin, erdaraz 0px nahiko da, baina euskeraz testuak moztu egiten dira beltzez handitzean*/
	width: 15%;
	margin-right: 2em;
}

/* Position and styles for the right part (subsections) of the TOC-Progress */

#toc-progress-footer-secondary
{
	width: 50%; /* 50%etik 45era pasatu dut nagusiak 55%era handitu ditudalako*/
	height: 100%;
	float: right;
	overflow: hidden;
	letter-spacing: 0em;
	background-color:#026DA550;
}

#toc-progress-footer-secondary-inside
{
	float: left;
	margin-left: -1em;
}

